<style>
   .size {
     width: 100%;
     height:100%;
   }
   .phandau {color: yellow; background-color:green;
      padding: 20px; text-align:center;
    }
   .trinhdon {color: pink; background-color:blue;
      padding: 10px;
    }
   .noidung {color: gray; background-color:black;
      padding: 10px;
    }
.phandau
            { color: green; blackground-color: yellow;
              padding: 20px; text-align: center; }
            .thucdon { background-color:#333;}
            .thucdon a {color: red;}
            .thucdon a: hover {}
