<style>
 h2 {color: Lightyellow; font-family: Verdana;}
 h3 {color: Lightgreen;}
 label {font-size: 15px; font-weight: bold;}
 input {background-color: yellow;}
 textarea {background-color: ivory;}
</style>
